Repository stasgm/menu-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,cjs}": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.{md,html,css}": [
    "prettier --write"
  ],
  "package.json": [
    "prettier-package-json --write"
  ]
}

Update components
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/components/menu-line.tsx
  apps/web/src/components/nav.tsx
  apps/web/src/components/order-info.tsx
  apps/web/src/mockData.ts
  apps/web/src/pages/index.tsx
  packages/domains/src/order.ts
  packages/utils/src/helpers.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Add reset quantity event
  apps/web/src/components/menu-line.tsx
  apps/web/src/pages/index.tsx
Due: prettier --write, eslint --fix

Add Zustand
  apps/web/package.json
  apps/web/src/mockData.ts
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/store/redux/index.ts
  apps/web/src/store/redux/services/api.ts
  apps/web/src/store/zustand/index.ts
  apps/web/src/store/zustand/menu/index.ts
  apps/web/src/store/zustand/order/index.ts
  packages/domains/src/category.ts
  packages/domains/src/menu.ts
  packages/domains/src/order.spec.ts
  packages/domains/src/order.ts
  packages/domains/src/product.ts
  pnpm-lock.yaml
  readme.md
Due: prettier --write, eslint --fix, prettier-package-json --write

Update store
  apps/web/src/pages/index.tsx
  apps/web/src/store/zustand/index.ts
  apps/web/src/store/zustand/order/index.ts
  packages/domains/src/order.mock.ts
  packages/domains/src/order.spec.ts
  packages/domains/src/order.ts
Due: prettier --write, eslint --fix

Update styles
  apps/web/src/components/container.tsx
  apps/web/src/components/menu-line.tsx
  apps/web/src/components/nav.tsx
  apps/web/src/components/order-info.tsx
  apps/web/src/mockData.ts
  apps/web/src/pages/index.tsx
  apps/web/src/store/zustand/menu/index.ts
  apps/web/src/store/zustand/order/index.ts
  packages/domains/src/order.mock.ts
  readme.md
Due: prettier --write, eslint --fix

Update readme
  readme.md
Due: prettier --write

Add new breakpoint
  apps/web/src/components/order-info.tsx
  apps/web/src/pages/index.tsx
  apps/web/tailwind.config.js
Due: prettier --write, eslint --fix

Update nav panel
  apps/web/src/components/nav.tsx
Due: prettier --write, eslint --fix

Add select-none
  apps/web/src/components/menu-line.tsx
Due: prettier --write, eslint --fix

Add seeds
  apps/api/package.json
  apps/api/prisma/migrations/20230710102315_fix_user/migration.sql
  apps/api/prisma/migrations/20230710183949_initial/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/app.module.ts
  apps/api/src/config/environment-variables.ts
  apps/api/src/main.ts
  apps/api/src/modules/products/dto/update-product.input.ts
  apps/api/src/types/zod/index.ts
  apps/api/src/types/zod/menu.ts
  apps/api/src/types/zod/menuline.ts
  apps/api/src/types/zod/product.ts
  apps/web/package.json
  apps/web/src/pages/_app.tsx
  apps/web/src/store/zustand/menu/index.ts
  apps/web/src/utils/apollo-client.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write, eslint --fix, prettier-package-json --write

Update types
  apps/api/.gitignore
  apps/api/package.json
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/menus/menus.service.ts
  apps/api/src/modules/products/products.resolver.ts
  apps/api/src/modules/products/products.service.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Update gitignore
  apps/api/.gitignore
Due: none

Update git ignore
  apps/api/.gitignore
Due: none

Remove unnecessary types
  apps/api/.eslintrc.js
  apps/api/generate-typings.ts
  apps/api/src/modules/categories/categories.resolver.ts
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/categories/dto/create-category.input.ts
  apps/api/src/modules/categories/dto/update-category.input.ts
  apps/api/src/modules/categories/entities/category.entity.ts
  apps/api/src/modules/menus/dto/create-menu.input.ts
  apps/api/src/modules/menus/dto/update-menu.input.ts
  apps/api/src/modules/menus/entities/menu.entity.ts
  apps/api/src/modules/menus/menus.graphql
  apps/api/src/modules/menus/menus.resolver.ts
  apps/api/src/modules/menus/menus.service.ts
Due: prettier --write, eslint --fix

Add graphql to web application
  apps/web/src/store/zustand/menu/index.ts
  apps/web/src/store/zustand/order/index.ts
Due: prettier --write, eslint --fix

Update db structure
  apps/api/prisma/migrations/20230711171607_add_order/migration.sql
  apps/api/prisma/migrations/20230712133647_initial/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
Due: prettier --write, eslint --fix

Add order repository
  apps/api/.eslintrc.js
  apps/api/src/modules/orders/orders.module.ts
  apps/api/src/modules/orders/orders.repository.ts
  apps/api/src/modules/orders/orders.service.ts
Due: prettier --write, eslint --fix

Add users module
  apps/api/.vscode/launch.json
  apps/api/.vscode/settings.json
  apps/api/.vscode/tasks.json
  apps/api/prisma/migrations/20230712174814_refactor/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/orders/orders.graphql
  apps/api/src/modules/orders/orders.module.ts
  apps/api/src/modules/orders/orders.repository.ts
  apps/api/src/modules/orders/orders.service.ts
  apps/api/src/modules/users/users.graphql
  apps/api/src/modules/users/users.module.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.resolver.spec.ts
  apps/api/src/modules/users/users.resolver.ts
  apps/api/src/modules/users/users.service.spec.ts
  apps/api/src/modules/users/users.service.ts
Due: prettier --write, eslint --fix

Add repository to categories
  .prettierrc
  apps/api/.eslintrc.js
  apps/api/.prettierignore
  apps/api/.prettierrc
  apps/api/README.md
  apps/api/prisma/migrations/20230713084458_indices/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/common/directives/upper-case.directive.ts
  apps/api/src/main.ts
  apps/api/src/modules/categories/categories.graphql
  apps/api/src/modules/categories/categories.module.ts
  apps/api/src/modules/categories/categories.repository.ts
  apps/api/src/modules/categories/categories.resolver.ts
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/menus/menus.service.ts
  apps/api/src/modules/orders/orders.repository.ts
  apps/api/src/modules/products/products.resolver.ts
  apps/api/src/modules/products/products.service.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/test/app.e2e-spec.ts
  apps/web/.prettierrc
  apps/web/src/components/container.tsx
  apps/web/src/components/menu-line.tsx
  apps/web/src/pages/index.tsx
  packages/domains/.prettierrc
  packages/domains/src/product.ts
  packages/example/.prettierrc
  packages/mocks/.prettierrc
  packages/ui/.prettierrc
  packages/utils/.prettierrc
  packages/utils/src/helpers.ts
Due: prettier --write, eslint --fix

Add final changes
  apps/api/README.md
  apps/api/prisma/migrations/20230713170723_initial/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/modules/categories/categories.graphql
  apps/api/src/modules/menus/menus.graphql
  apps/api/src/modules/menus/menus.repository.ts
  apps/api/src/modules/orders/orders.graphql
  apps/api/src/modules/orders/orders.repository.ts
  apps/api/src/modules/orders/orders.resolver.ts
  apps/api/src/modules/orders/orders.service.ts
  apps/api/src/modules/products/products.graphql
  apps/api/src/modules/products/products.repository.ts
  apps/api/src/modules/users/users.graphql
  apps/api/tsconfig.json
  apps/web/src/components/nav.tsx
  apps/web/src/components/user-info-form.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/store/zustand/index.ts
  apps/web/src/store/zustand/order/index.ts
  packages/domains/package.json
  packages/domains/src/cart.ts
  packages/domains/src/index.ts
  packages/domains/src/order.ts
  packages/utils/src/helpers.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Add eslint config
  .eslintrc.js
Due: prettier --write, eslint --fix

Update package
  package.json
Due: prettier-package-json --write

Update project config
  .vscode/extensions.json
  .vscode/project.code-workspace
Due: none

Update configs
  apps/api/src/modules/orders/orders.repository.ts
  configs/nextjs/prettier/.eslintrc.js
  configs/nextjs/prettier/package.json
  configs/nextjs/prettier/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Update configs
  .npmrc
  apps/api/.prettierrc.js
  apps/api/src/main.ts
  configs/lint-staged/lint-staged.base.js
  configs/lint-staged/package.json
  configs/nestjs/prettier/package.json
  configs/nestjs/prettier/prettier.base.js
Due: prettier --write, eslint --fix, prettier-package-json --write

Update config
  .husky/pre-commit
  apps/api/.lintstagedrc.js
  apps/api/.prettierrc.js
  apps/api/package.json
  configs/lint-staged/index.js
  configs/lint-staged/package.json
  configs/nestjs/eslint/package.json
  configs/nestjs/eslint/tsconfig.json
  configs/nestjs/prettier/index.js
  configs/nestjs/prettier/package.json
  configs/nextjs/prettier/index.js
  configs/nextjs/prettier/package.json
  configs/nextjs/tailwind/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Update git hook
  .husky/pre-commit
Due: none

test
  apps/api/src/main.ts
Due: prettier --write, eslint --fix

lint: configs
  .commitlintrc.json
  .editorconfig
  .lintstagedrc
  .lintstagedrc.js
  apps/api/.eslintrc.js
  apps/api/package.json
  apps/api/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/tsconfig.json
  configs/nestjs/eslint/.eslintrc.js
  configs/nestjs/eslint/index.js
  configs/nestjs/eslint/package.json
  configs/nestjs/prettier/package.json
  configs/nextjs/eslint/.eslintrc.js
  configs/nextjs/eslint/index.js
  configs/nextjs/eslint/package.json
  configs/nextjs/prettier/package.json
  configs/nextjs/tailwind/tsconfig.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix, prettier-package-json --write

lint: update
  .vscode/tasks.json
  apps/api/src/common/directives/upper-case.directive.ts
  apps/api/src/modules/_core/persistence/prisma/prisma.service.ts
  apps/api/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/.eslintrc2.json
  apps/web/.lintstagedrc.js
  apps/web/.prettierrc
  apps/web/package.json
  apps/web/src/components/container.tsx
  apps/web/src/components/menu-line.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/store/redux/index.ts
  apps/web/src/store/zustand/index.ts
  apps/web/src/store/zustand/menu/index.ts
  apps/web/src/store/zustand/order/index.ts
  apps/web/src/utils/apollo-client.ts
  apps/web/tsconfig.json
  configs/nestjs/eslint/index.js
  configs/nextjs/eslint/.eslintrc.js
  configs/nextjs/eslint/index.js
  configs/nextjs/eslint/package.json
  configs/nextjs/prettier/index.js
  packages/utils/.eslintrc.js
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix, prettier-package-json --write

Add web-admin app
  .vscode/tasks.json
  apps/api/src/app.module.ts
  apps/api/src/config/environment-variables.ts
  apps/api/tsconfig.json
  apps/api/webpack-hmr.config.js
  apps/web-admin/.eslintrc.json
  apps/web-admin/.gitignore
  apps/web-admin/README.md
  apps/web-admin/next.config.js
  apps/web-admin/package.json
  apps/web-admin/postcss.config.js
  apps/web-admin/public/next.svg
  apps/web-admin/public/vercel.svg
  apps/web-admin/src/app/favicon.ico
  apps/web-admin/src/app/globals.css
  apps/web-admin/src/app/layout.tsx
  apps/web-admin/src/app/page.tsx
  apps/web-admin/tailwind.config.js
  apps/web-admin/tsconfig.json
  apps/web/package.json
  apps/web/src/store/redux/index.ts
  apps/web/src/store/redux/services/api.ts
  configs/nestjs/eslint/index.js
  pnpm-lock.yaml
  readme.md
  tsconfig.json
Due: prettier --write, eslint --fix, prettier-package-json --write
