Repository stasgm/menu-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier-package-json --write

Update resolvers
  apps/api/src/modules/categories/categories.repository.ts
  apps/api/src/modules/categories/categories.resolver.ts
  apps/api/src/modules/categories/dto/create-category.input.ts
  apps/api/src/modules/categories/dto/find-categories.args.ts
  apps/api/src/modules/categories/models/category.model.ts
  apps/api/src/modules/common/base.dto.ts
  apps/api/src/modules/common/base.resolver.ts
  apps/api/src/modules/common/base.service.ts
  apps/api/src/modules/common/base.types.ts
  apps/api/src/schema.gql
Due: prettier --write, eslint --fix

Update modules
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/main.ts
  apps/api/src/modules/auth/dto/login-user.input.ts
  apps/api/src/modules/auth/dto/register-user.input.ts
  apps/api/src/modules/categories/categories.module.ts
  apps/api/src/modules/categories/categories.repository.ts
  apps/api/src/modules/categories/categories.resolver.ts
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/categories/dto/create-category.input.ts
  apps/api/src/modules/categories/dto/find-categories.args.ts
  apps/api/src/modules/categories/models/category.model.ts
  apps/api/src/modules/common/base.repository.ts
  apps/api/src/modules/common/base.service.ts
  apps/api/src/modules/common/base.types.ts
  apps/api/src/modules/customers/customers.repository.ts
  apps/api/src/modules/customers/customers.resolver.ts
  apps/api/src/modules/customers/customers.service.ts
  apps/api/src/modules/customers/dto/create-customer.input.ts
  apps/api/src/modules/customers/dto/find-customers.args.ts
  apps/api/src/modules/customers/models/customer.model.ts
  apps/api/src/modules/menus/menus.resolver.ts
  apps/api/src/modules/menus/models/menu.model.ts
  apps/api/src/modules/orders/dto/create-order-line.input.ts
  apps/api/src/modules/orders/dto/create-order.input.ts
  apps/api/src/modules/orders/models/order-line.model.ts
  apps/api/src/modules/orders/models/order.model.ts
  apps/api/src/modules/orders/orders.repository.ts
  apps/api/src/modules/orders/orders.resolver.ts
  apps/api/src/modules/orders/orders.service.ts
  apps/api/src/modules/products/dto/create-product.input.ts
  apps/api/src/modules/products/products.repository.ts
  apps/api/src/modules/products/products.resolver.ts
  apps/api/src/modules/users/dto/find-users.args.ts
  apps/api/src/modules/users/models/user.model.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.resolver.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/src/types/schema.gql
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Remove snapshot from app config
  apps/api/src/main.ts
Due: prettier --write, eslint --fix

Update modules structure
  apps/api/src/app.module.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/dto/register-user.input.ts
  apps/api/src/modules/categories/categories.repository.ts
  apps/api/src/modules/categories/categories.resolver.ts
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/categories/dto/create-category.input.ts
  apps/api/src/modules/categories/models/category.model.ts
  apps/api/src/modules/common/base.repository.ts
  apps/api/src/modules/common/base.resolver.ts
  apps/api/src/modules/common/base.service.ts
  apps/api/src/modules/common/base.types.ts
  apps/api/src/modules/customers/customers.repository.ts
  apps/api/src/modules/customers/customers.resolver.ts
  apps/api/src/modules/customers/customers.service.ts
  apps/api/src/modules/customers/dto/create-customer.input.ts
  apps/api/src/modules/customers/dto/update-customer.input.ts
  apps/api/src/modules/menus/menus.resolver.ts
  apps/api/src/modules/menus/models/menu-line.ts
  apps/api/src/modules/orders/dto/create-order.input.ts
  apps/api/src/modules/orders/models/order.model.ts
  apps/api/src/modules/orders/orders.repository.ts
  apps/api/src/modules/orders/orders.resolver.ts
  apps/api/src/modules/orders/orders.service.ts
  apps/api/src/modules/products/dto/create-product.input.ts
  apps/api/src/modules/products/models/product.model.ts
  apps/api/src/modules/products/products.repository.ts
  apps/api/src/modules/products/products.resolver.ts
  apps/api/src/modules/products/products.service.ts
  apps/api/src/modules/users/dto/create-user.input.ts
  apps/api/src/modules/users/models/user.model.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.resolver.ts
  apps/api/src/modules/users/users.service.ts
Due: prettier --write, eslint --fix

Implemented auth module
  apps/api/package.json
  apps/api/src/core/exceptions/base.exception.ts
  apps/api/src/core/exceptions/user-already-exists.exception.ts
  apps/api/src/core/exceptions/user-not-found.exception.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/models/auth.model.ts
  apps/api/src/modules/auth/models/tokens.model.ts
  apps/api/src/modules/auth/strategies/jwt-access.strategy.ts
  apps/api/src/modules/auth/strategies/jwt-refresh.strategy.ts
  apps/api/src/modules/auth/types.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Update auth
  apps/api/.vscode/tasks.json
  apps/api/prisma/migrations/20240204115611_initial/migration.sql
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/common/base.service.ts
  apps/api/src/modules/customers/customers.service.spec.ts
  apps/api/src/modules/users/dto/create-user.input.ts
  apps/api/src/modules/users/users.resolver.spec.ts
  apps/api/src/modules/users/users.service.spec.ts
Due: prettier --write, eslint --fix

Remove unnecessary code
  apps/api/package.json
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/core/config/environment-variables.ts
  apps/api/src/modules/auth/auth.graphql
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Extend jwt payload
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/decorators/current-user.decorator.ts
  apps/api/src/modules/auth/guards/jwt-access.guard.ts
  apps/api/src/modules/auth/guards/jwt-refresh.guard.ts
  apps/api/src/modules/auth/guards/roles.guard.ts
  apps/api/src/modules/auth/strategies/jwt-access.strategy.ts
  apps/api/src/modules/auth/strategies/jwt-refresh.strategy.ts
  apps/api/src/modules/auth/types.ts
Due: prettier --write, eslint --fix

Add access guard for users
  apps/api/src/modules/users/users.resolver.ts
Due: prettier --write, eslint --fix

Add user registration process flow chart
  apps/api/docs/auth/README.md
Due: prettier --write

Update flow
  apps/api/docs/auth/README.md
Due: prettier --write

Add bullmq and health module
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/core/config/app-config.ts
  apps/api/src/core/config/types.ts
  apps/api/src/core/health/health.controller.ts
  apps/api/src/core/health/health.module.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Add health module
  apps/api/src/app.module.ts
Due: prettier --write, eslint --fix

Add bullmq and mailer
  apps/api/.env.example
  apps/api/src/app.module.ts
  apps/api/src/core/config/app-config.ts
  apps/api/src/core/config/types.ts
  apps/api/src/core/health/health.controller.ts
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/api/src/core/schedulers/bullmq/consumers/mail.processor.ts
  apps/api/src/core/schedulers/bullmq/producer/bullmq-config.service.ts
  apps/api/src/core/schedulers/bullmq/producer/bullmq-producer.service.ts
  apps/api/src/core/schedulers/bullmq/producer/bullmq-producer.types.ts
  apps/api/src/core/schedulers/shcedulers.module.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/decorators/context-data.decorator.ts
  apps/api/src/modules/mail/mail-config.service.ts
  apps/api/src/modules/mail/mail.module.ts
  apps/api/src/modules/mail/mail.service.ts
  apps/api/src/modules/mail/templates/reset-password.hbs
  apps/api/src/modules/mail/templates/user-registration-simple.hbs
  apps/api/src/modules/mail/templates/user-registration.hbs
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Update seed module
  apps/api/seeds/categories/categories-seed.service.ts
  apps/api/seeds/customers/customers-seed.service.ts
  apps/api/seeds/main.ts
  apps/api/seeds/menu/menus-seed.service.ts
  apps/api/seeds/orders/orders-seed.service.ts
  apps/api/seeds/products/products-seed.service.ts
  apps/api/seeds/seed.service.ts
  apps/api/seeds/types.ts
  apps/api/seeds/users/users-seed.service.ts
  apps/api/src/modules/auth/auth.service.ts
Due: prettier --write, eslint --fix

Remove templates
  apps/api/assets/templates/reset-password.hbs
  apps/api/assets/templates/user-registration-simple.hbs
  apps/api/assets/templates/user-registration.hbs
Due: none

Refactor formatError
  apps/api/src/core/config/graphql-config.ts
Due: prettier --write, eslint --fix

Add activation-codes types
  packages/domains/src/activation-codes.ts
  packages/domains/src/index.ts
  packages/domains/src/menu.ts
  packages/domains/src/mocks.ts
  packages/domains/src/order.spec.ts
  packages/domains/src/order.ts
Due: prettier --write, eslint --fix

Add activation-codes mocks
  packages/mocks/src/activation-codes.ts
  packages/mocks/src/index.ts
Due: prettier --write, eslint --fix

Update modules
  apps/api/nest-cli.json
  apps/api/src/app.module.ts
  apps/api/src/core/config/app-config.module.ts
  apps/api/src/core/graphql/directives/upper-case.directive.ts
  apps/api/src/core/graphql/graphql-config.ts
  apps/api/src/main.ts
  apps/api/src/modules/auth/dto/results/register-user.result.ts
Due: prettier --write, eslint --fix

Update seed module
  apps/api/.vscode/launch.json
  apps/api/prisma/migrations/20240207195730_update2/migration.sql
  apps/api/prisma/migrations/20240207195740_update/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/seeds/activation-codes/activation-codes.module.ts
  apps/api/seeds/activation-codes/activation-codes.service.ts
  apps/api/seeds/categories/categories-seed.service.ts
  apps/api/seeds/categories/categories.module.ts
  apps/api/seeds/categories/categories.service.ts
  apps/api/seeds/customers/customers-seed.service.ts
  apps/api/seeds/main.ts
  apps/api/seeds/menu/menus-seed.service.ts
  apps/api/seeds/orders/orders-seed.service.ts
  apps/api/seeds/seed.module.ts
  apps/api/seeds/seed.service.ts
  apps/api/src/core/persistence/prisma/prisma.types.ts
  apps/api/src/modules/activation-codes/activation-codes.repository.ts
  apps/api/src/modules/common/base.repository.ts
Due: prettier --write, eslint --fix

Update comment
  apps/api/seeds/main.ts
Due: prettier --write, eslint --fix

Refactor mail sending and e2e tests
  .vscode/project.code-workspace
  apps/api/.env.test
  apps/api/.vscode/launch.json
  apps/api/config/test.ts
  apps/api/docker-compose.db.yml
  apps/api/docker-compose.int-tests.yml
  apps/api/jest.config.json
  apps/api/package.json
  apps/api/prisma/migrations/20240218195201_new_data/migration.sql
  apps/api/src/core/schedulers/bullmq/consumers/mail.processor.ts
  apps/api/src/core/schedulers/bullmq/producer/bullmq-producer.types.ts
  apps/api/src/core/schedulers/shcedulers.module.ts
  apps/api/src/libs/helpers.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/mail/helpers.ts
  apps/api/src/modules/mail/mail.module.ts
  apps/api/src/modules/mail/mail.service.ts
  apps/api/src/modules/mail/mail.types.ts
  apps/api/test/app.e2e-spec.ts
  apps/api/test/e2e/auth/auth.e2e-spec.ts
  apps/api/test/e2e/auth/registration.e2e-spec.ts
  apps/api/test/e2e/config/graphql.config.ts
  apps/api/test/e2e/config/prisma.config.ts
  apps/api/test/e2e/utils/initialize-app.ts
  apps/api/test/e2e/utils/prisma-test.utils.ts
  apps/api/test/factories/auth.factory.ts
  apps/api/test/helpers/constants.ts
  apps/api/test/helpers/graphql.config.ts
  apps/api/test/helpers/initialize-app.ts
  apps/api/test/helpers/prisma-test.utils.ts
  apps/api/test/helpers/prisma.config.ts
  apps/api/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Update
  apps/api/package.json
  apps/api/src/core/graphql/graphql-config.ts
  apps/api/src/core/schedulers/shcedulers.module.ts
  apps/api/src/modules/mail/mail.module.ts
  apps/api/test/e2e/auth/registration.e2e-spec.ts
  apps/api/test/helpers/prisma.config.ts
  apps/web-app-auth/package.json
  package.json
Due: prettier --write, eslint --fix, prettier-package-json --write

Add new tests
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/strategies/jwt/jwt-access.strategy.ts
  apps/api/src/modules/auth/strategies/jwt/jwt-activate.strategy.ts
  apps/api/src/modules/auth/strategies/jwt/jwt-refresh.strategy.ts
  apps/api/test/e2e/auth/activate.e2e-spec.ts
  apps/api/test/e2e/auth/login.e2e-spec.ts
  apps/api/test/e2e/auth/queries.ts
  apps/api/test/e2e/helpers/utils.ts
Due: prettier --write, eslint --fix

Refactor e2e tests
  apps/api/test/e2e/auth/activate.e2e-spec.ts
  apps/api/test/e2e/auth/login.e2e-spec.ts
  apps/api/test/e2e/auth/mock-data.ts
  apps/api/test/e2e/auth/register.e2e-spec.ts
  apps/api/test/e2e/helpers/mock-data.ts
  apps/api/test/e2e/helpers/utils.ts
Due: prettier --write, eslint --fix

Add te e2e test for auth module
  apps/api/config/test.ts
  apps/api/src/core/config/app-config.ts
  apps/api/src/core/config/types.ts
  apps/api/src/core/constants/errors.ts
  apps/api/src/core/exceptions/index.ts
  apps/api/src/core/exceptions/invalid-activation-code-attempts-exceeded.exception.ts
  apps/api/src/core/exceptions/invalid-activation-code.exception.ts
  apps/api/src/core/exceptions/user-already-activated.exception.ts
  apps/api/src/modules/activation-codes/activation-codes.module.ts
  apps/api/src/modules/activation-codes/activation-codes.service.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/test/e2e/auth/activate.e2e-spec.ts
  apps/api/test/e2e/auth/login.e2e-spec.ts
  apps/api/test/e2e/auth/register.e2e-spec.ts
  apps/api/test/e2e/helpers/utils.ts
Due: prettier --write, eslint --fix

Update e2e tests
  apps/api/src/core/exceptions/user-not-found.exception.ts
  apps/api/src/modules/activation-codes/activation-codes.service.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/common/base.repository.ts
  apps/api/src/modules/common/base.service.ts
  apps/api/src/modules/common/base.types.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/test/e2e/auth/activate.e2e-spec.ts
  apps/api/test/e2e/auth/login.e2e-spec.ts
  apps/api/test/e2e/auth/register.e2e-spec.ts
  apps/api/test/e2e/helpers/utils.ts
Due: prettier --write, eslint --fix

Add new e2e tests
  apps/api/src/modules/activation-codes/activation-codes.resolver.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/test/e2e/auth/activate.e2e-spec.ts
  apps/api/test/e2e/auth/refresh-activation-code.e2e-spec.ts
  apps/api/test/e2e/helpers/queries.ts
Due: prettier --write, eslint --fix

Add refresh-tokens e2e tests
  apps/api/src/modules/activation-codes/activation-codes.service.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/strategies/jwt/jwt-refresh.strategy.ts
  apps/api/test/e2e/auth/login.e2e-spec.ts
  apps/api/test/e2e/auth/refresh-tokens.e2e-spec.ts
  apps/api/test/e2e/helpers/queries.ts
Due: prettier --write, eslint --fix

Update documentation
  apps/api/docs/auth/FORGOT_PASSWORD.md
  apps/api/test/e2e/auth/refresh-tokens.e2e-spec.ts
Due: prettier --write, eslint --fix

Add new mail types
  apps/api/src/modules/mail/mail.types.ts
  apps/api/src/modules/mail/templates/reset-password-confirmation.hbs
  apps/api/src/modules/mail/templates/reset-password-request.hbs
  apps/api/src/modules/mail/templates/user-activation-confirmation.hbs
Due: prettier --write, eslint --fix

Add Tokens module
  apps/api/prisma/migrations/20240225200641_add_token/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/auth/activation-codes/activation-codes.module.ts
  apps/api/src/modules/auth/activation-codes/activation-codes.repository.ts
  apps/api/src/modules/auth/activation-codes/activation-codes.resolver.spec.ts
  apps/api/src/modules/auth/activation-codes/activation-codes.resolver.ts
  apps/api/src/modules/auth/activation-codes/activation-codes.service.spec.ts
  apps/api/src/modules/auth/activation-codes/activation-codes.service.ts
  apps/api/src/modules/auth/activation-codes/dto/inputs/create-activation-code.input.ts
  apps/api/src/modules/auth/activation-codes/dto/inputs/find-activation-code.args.ts
  apps/api/src/modules/auth/activation-codes/dto/inputs/update-activation-code.input.ts
  apps/api/src/modules/auth/activation-codes/helpers.ts
  apps/api/src/modules/auth/activation-codes/models/activation-code.model.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/tokens/dto/inputs/create-token.input.ts
  apps/api/src/modules/auth/tokens/dto/inputs/find-tokens.args.ts
  apps/api/src/modules/auth/tokens/dto/inputs/update-token.input.ts
  apps/api/src/modules/auth/tokens/models/token.model.ts
  apps/api/src/modules/auth/tokens/tokens.module.ts
  apps/api/src/modules/auth/tokens/tokens.repository.ts
  apps/api/src/modules/auth/tokens/tokens.resolver.spec.ts
  apps/api/src/modules/auth/tokens/tokens.resolver.ts
  apps/api/src/modules/auth/tokens/tokens.service.spec.ts
  apps/api/src/modules/auth/tokens/tokens.service.ts
Due: prettier --write, eslint --fix

Update dependencies
  apps/api/.lintstagedrc.js
  apps/api/package.json
  apps/api/src/core/persistence/prisma/prisma-client-manager.ts
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/api/src/core/persistence/prisma/request-context.module.ts
  apps/api/src/core/persistence/prisma/timeout-error.util.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/tokens/tokens.service.ts
  configs/lint-staged/package.json
  configs/nestjs/eslint/package.json
  configs/nestjs/prettier/package.json
  configs/nextjs/eslint/package.json
  configs/nextjs/prettier/package.json
  configs/nextjs/tailwind/package.json
  configs/nextjs/typescript/package.json
  package.json
  packages/domains/package.json
  packages/example/package.json
  packages/mocks/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs}) or (any of: *.{md,html,css})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs}
  prettier-package-json --write: any of: package.json
