Repository stasgm/menu-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier-package-json --write

Update gql config
  apps/web-app-auth/codegen.ts
  apps/web-app-auth/src/lib/gql/gql.ts
  apps/web-app-auth/tsconfig.json
Due: prettier --write, eslint --fix

Add graphql.ts to ignore
  apps/web-app-auth/.gitignore
Due: none

Remove gql schimas
  apps/web-app-auth/.gitignore
  apps/web-app-auth/src/graphql/queries/getAllPosts.graphql
  apps/web-app-auth/src/graphql/queries/getAllPproducts.graphql
  apps/web-app-auth/src/graphql/queries/getPostByUuid.graphql
  apps/web-app-auth/src/graphql/queries/getProductById.graphql
Due: none

Update types (web-app-auth)
  apps/web-app-auth/src/app/posts/[postUuid]/page.tsx
  apps/web-app-auth/src/lib/getAllPosts.ts
  apps/web-app-auth/src/lib/getProductById.ts
  apps/web-app-auth/src/lib/gql/fragment-masking.ts
  apps/web-app-auth/src/lib/gql/gql.ts
  apps/web-app-auth/src/lib/gql/graphql.ts
  apps/web-app-auth/src/lib/gql/index.ts
Due: prettier --write, eslint --fix

Update ignore (web-app-auth)
  apps/web-app-auth/.gitignore
Due: none

Update components - add Products
  apps/web-app-auth/src/app/about/page.tsx
  apps/web-app-auth/src/app/contact/page.tsx
  apps/web-app-auth/src/app/products/layout.tsx
  apps/web-app-auth/src/app/products/page.tsx
  apps/web-app-auth/src/lib/apolloProvider.tsx
Due: prettier --write, eslint --fix

Remove generated
  apps/web-app-auth/.gitignore
  apps/web-app-auth/__generated__/fragment-masking.ts
  apps/web-app-auth/__generated__/gql.ts
  apps/web-app-auth/__generated__/graphql.ts
  apps/web-app-auth/__generated__/index.ts
Due: prettier --write, eslint --fix

feat: добавлено кол-во, пагинация и прочее
  apps/web-admin/components/button.tsx
  apps/web-admin/components/pagination.tsx
  apps/web-admin/components/styled-grid.tsx
  apps/web-admin/components/tooltip.tsx
  apps/web-admin/pages/products/index.tsx
  packages/domains/src/product.ts
  packages/mocks/src/products.ts
Due: prettier --write, eslint --fix

crlf -> LF, обновлена инструкция
  .pnprc
  readme.md
Due: prettier --write

added class-transformer to dependencies
  apps/api/package.json
Due: prettier-package-json --write

Update project data
  apps/api/.env.docker
  apps/api/.env.example
  apps/api/README.md
  apps/api/package.json
  apps/api/src/main.ts
Due: prettier --write, eslint --fix, prettier-package-json --write

Add next-auth (web-app-auth)
  apps/web-app-auth/package.json
  apps/web-app-auth/src/app/layout.tsx
  apps/web-app-auth/src/app/products/page.tsx
  apps/web-app-auth/src/lib/apolloProvider.tsx
  apps/web-app-auth/src/lib/nextAuthProvider.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Update deps
  apps/api/package.json
  apps/api/src/core/persistence/persistence.module.ts
  apps/api/src/core/persistence/prisma/prisma.service.spec.ts
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/web-admin/package.json
  apps/web-app-auth/package.json
  apps/web/package.json
  configs/lint-staged/package.json
  configs/nestjs/eslint/package.json
  configs/nextjs/eslint/package.json
  package.json
  packages/domains/package.json
  packages/example/package.json
  packages/mocks/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Update modules
  apps/api/.env.docker
  apps/api/.env.example
  apps/api/.eslintrc.js
  apps/api/package.json
  apps/api/prisma/Dockerfile
  apps/api/src/app.module.ts
  apps/api/src/core/cache/index.ts
  apps/api/src/core/config/environment-variables.ts
  apps/api/src/main.ts
  apps/api/src/modules/categories/categories.module.ts
  apps/api/src/modules/categories/categories.repository.ts
  apps/api/src/modules/menus/menus.module.ts
  apps/api/src/modules/menus/menus.repository.ts
  apps/api/src/modules/orders/orders.module.ts
  apps/api/src/modules/orders/orders.repository.ts
  apps/api/src/modules/products/products.module.ts
  apps/api/src/modules/products/products.repository.ts
  apps/api/src/modules/users/users.module.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/tsconfig.json
  configs/nestjs/eslint/index.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Update Users module
  apps/api/src/app.module.ts
  apps/api/src/core/directives/upper-case.directive.ts
  apps/api/src/modules/orders/orders.repository.ts
  apps/api/src/modules/users/users.graphql
  apps/api/src/modules/users/users.resolver.ts
  apps/api/src/modules/users/users.service.ts
Due: prettier --write, eslint --fix

Refactor seeding
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/src/core/persistence/prisma/seeds/categories/categories-seed.module.ts
  apps/api/src/core/persistence/prisma/seeds/categories/categories-seed.service.ts
  apps/api/src/core/persistence/prisma/seeds/helpers.ts
  apps/api/src/core/persistence/prisma/seeds/menu/menus-seed.module.ts
  apps/api/src/core/persistence/prisma/seeds/menu/menus-seed.service.ts
  apps/api/src/core/persistence/prisma/seeds/orders/orders-seed.module.ts
  apps/api/src/core/persistence/prisma/seeds/orders/orders-seed.service.ts
  apps/api/src/core/persistence/prisma/seeds/products/products-seed.module.ts
  apps/api/src/core/persistence/prisma/seeds/products/products-seed.service.ts
  apps/api/src/core/persistence/prisma/seeds/seed.module.ts
  apps/api/src/core/persistence/prisma/seeds/seeds.ts
  apps/api/src/core/persistence/prisma/seeds/types.ts
  apps/api/src/core/persistence/prisma/seeds/users/users-seed.module.ts
  apps/api/src/core/persistence/prisma/seeds/users/users-seed.service.ts
  apps/api/src/modules/categories/categories.repository.ts
  apps/api/src/modules/menus/menus.repository.ts
  apps/api/src/modules/orders/orders.repository.ts
  apps/api/src/modules/orders/orders.resolver.ts
  apps/api/src/modules/orders/orders.service.ts
  apps/api/src/modules/products/products.repository.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/tsconfig.json
  apps/web-admin/lib/zustand-provider.ts
  apps/web-admin/pages/products/index.tsx
Due: prettier --write, eslint --fix, prettier-package-json --write

Update seed module
  apps/api/src/core/persistence/prisma/seeds/categories/categories-seed.service.ts
  apps/api/src/core/persistence/prisma/seeds/helpers.ts
  apps/api/src/core/persistence/prisma/seeds/menu/menus-seed.service.ts
  apps/api/src/core/persistence/prisma/seeds/orders/orders-seed.service.ts
  apps/api/src/core/persistence/prisma/seeds/products/products-seed.service.ts
  apps/api/src/core/persistence/prisma/seeds/types.ts
  apps/api/src/core/persistence/prisma/seeds/users/users-seed.service.ts
Due: prettier --write, eslint --fix

Add auth module
  apps/api/README.md
  apps/api/package.json
  apps/api/prisma/migrations/20230713170723_initial/migration.sql
  apps/api/prisma/migrations/20231205095413_initial/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/core/persistence/prisma/prisma-client-exception.filter.ts
  apps/api/src/modules/auth/auth-providers.enum.ts
  apps/api/src/modules/auth/dto/auth-confirm-email.dto.ts
  apps/api/src/modules/auth/dto/auth-email-login.dto.ts
  apps/api/src/modules/auth/dto/auth-forgot-password.dto.ts
  apps/api/src/modules/auth/dto/auth-register-login.dto.ts
  apps/api/src/modules/auth/dto/auth-reset-password.dto.ts
  apps/api/src/modules/auth/dto/auth-update.dto.ts
  apps/api/src/modules/auth/password.service.ts
  apps/api/src/modules/auth/roles/role.enum.ts
  apps/api/src/modules/auth/roles/roles.decorator.ts
  apps/api/src/modules/auth/roles/roles.guard.ts
  apps/api/test/user/auth.e2e-spec.ts
  apps/api/test/utils/constants.ts
  pnpm-lock.yaml
  tsconfig.base.node.json
Due: prettier --write, eslint --fix, prettier-package-json --write

Update auth
  apps/api/config/default.ts
  apps/api/prisma/migrations/20231215122334_initial/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/core/config/app-config.ts
  apps/api/src/core/config/types.ts
  apps/api/src/modules/auth/auth.graphql
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/strategies/index.ts
  apps/api/src/modules/auth/strategies/jwt-access.strategy.ts
  apps/api/src/modules/auth/strategies/jwt-refresh.strategy.ts
  apps/api/src/modules/customers/customers.service.ts
  apps/api/src/modules/orders/orders.module.ts
  apps/api/src/modules/users/users.module.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
Due: prettier --write, eslint --fix

Update auth module
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/types.ts
Due: prettier --write, eslint --fix

Update node version
  .nvmrc
Due: none

Update dockerfile
  apps/api/Dockerfile
Due: none

Update config
  apps/api/config/default.ts
  apps/api/src/core/config/app-config.ts
  apps/api/src/core/config/types.ts
  apps/api/src/core/exceptions/http-exception-filter.ts
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/api/src/main.ts
Due: prettier --write, eslint --fix

Update env
  apps/api/.env.docker
  apps/api/.env.example
Due: none

Fix services
  apps/api/src/core/persistence/persistence.module.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/users/users.resolver.ts
Due: prettier --write, eslint --fix

Fix graphql scheima
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/api/src/modules/auth/auth.graphql
  apps/api/src/modules/auth/auth.resolver.ts
Due: prettier --write, eslint --fix

Update tasks
  apps/api/.vscode/tasks.json
Due: none

Refactor
  apps/api/package.json
  apps/api/prisma/migrations/20231217181903_new/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/seeds/categories/categories-seed.module.ts
  apps/api/seeds/categories/categories-seed.service.ts
  apps/api/seeds/customers/customers-seed.module.ts
  apps/api/seeds/customers/customers-seed.service.ts
  apps/api/seeds/helpers.ts
  apps/api/seeds/main.ts
  apps/api/seeds/menu/menus-seed.module.ts
  apps/api/seeds/menu/menus-seed.service.ts
  apps/api/seeds/orders/orders-seed.module.ts
  apps/api/seeds/orders/orders-seed.service.ts
  apps/api/seeds/products/products-seed.module.ts
  apps/api/seeds/products/products-seed.service.ts
  apps/api/seeds/seed.module.ts
  apps/api/seeds/types.ts
  apps/api/seeds/users/users-seed.module.ts
  apps/api/seeds/users/users-seed.service.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/products/products.resolver.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  packages/domains/src/user.ts
  packages/mocks/src/users.ts
Due: prettier --write, eslint --fix, prettier-package-json --write

Update auth
  apps/api/src/modules/auth/auth.graphql
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/strategies/jwt-access.strategy.ts
  apps/api/src/modules/auth/strategies/jwt-refresh.strategy.ts
  apps/api/src/modules/auth/types.ts
Due: prettier --write, eslint --fix

Update modules
  apps/api/src/app.module.ts
  apps/api/src/core/constants/errors.ts
  apps/api/src/core/exceptions/base.exception.ts
  apps/api/src/core/exceptions/http-exception-filter.ts
  apps/api/src/core/exceptions/index.ts
  apps/api/src/core/exceptions/user-already-exists.exception.ts
  apps/api/src/core/exceptions/user-not-found.exception.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/dto/login.dto.ts
  apps/api/src/modules/auth/dto/register.dto.ts
  apps/api/src/modules/auth/models/tokens.ts
Due: prettier --write, eslint --fix

Add swc
  apps/api/.swcrc
  apps/api/jest.config.json
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier-package-json --write

Update tests
  apps/api/src/modules/customers/customers.service.spec.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.spec.ts
  apps/api/src/modules/users/users.service.ts
Due: prettier --write, eslint --fix

Refactor Users
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.resolver.ts
  apps/api/src/modules/users/users.service.spec.ts
  apps/api/src/modules/users/users.service.ts
Due: prettier --write, eslint --fix

Redactor Categories
  apps/api/src/modules/categories/categories.repository.ts
  apps/api/src/modules/categories/categories.resolver.ts
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/categories/dto/create-category.input.ts
  apps/api/src/modules/categories/dto/find-categories.args.ts
  apps/api/src/modules/categories/dto/update-category.input.ts
  apps/api/src/modules/categories/model/category.model.ts
Due: prettier --write, eslint --fix

Format code
  apps/api/src/app.module.ts
  apps/api/src/main.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/categories/categories.graphql
  apps/api/src/modules/categories/categories.repository.ts
  apps/api/src/modules/categories/categories.resolver.ts
  apps/api/src/modules/categories/dto/update-category.input.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
Due: prettier --write, eslint --fix

Add abstract CRUD layer
  apps/api/.vscode/launch.json
  apps/api/src/app.module.ts
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/models/tokens.model.ts
  apps/api/src/modules/categories/categories.repository.ts
  apps/api/src/modules/categories/categories.resolver.ts
  apps/api/src/modules/categories/categories.service.ts
  apps/api/src/modules/categories/dto/find-categories.args.ts
  apps/api/src/modules/categories/model/category.model.ts
  apps/api/src/modules/categories/models/category.model.ts
  apps/api/src/modules/common/base.dto.ts
  apps/api/src/modules/common/base.entity.ts
  apps/api/src/modules/common/base.resolver.ts
  apps/api/src/modules/common/base.service.ts
  apps/api/src/modules/common/base.types.ts
  apps/api/src/modules/customers/customers.resolver.ts
  apps/api/src/modules/customers/dto/find-customers.args.ts
  apps/api/src/modules/products/products.resolver.ts
  apps/api/src/modules/products/products.service.ts
  apps/api/src/modules/users/dto/find-users.args.ts
  apps/api/src/modules/users/users.resolver.ts
  apps/api/src/schema.gql
  apps/api/src/types/base.entity.ts
  configs/nestjs/prettier/index.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs}) or (any of: *.{md,html,css})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs}
  prettier-package-json --write: any of: package.json
