Repository stasgm/menu-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier-package-json --write

Fix styles
  apps/api/src/core/persistence/prisma/prisma-client-manager.ts
  apps/api/src/core/persistence/prisma/prisma.extensions.ts
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/api/src/modules/auth/activation-codes/activation-codes.resolver.ts
  apps/api/src/modules/auth/strategies/jwt/jwt-refresh.strategy.ts
  apps/api/src/modules/common/base.resolver.ts
  apps/api/src/modules/orders/orders.repository.ts
  apps/api/src/modules/products/dto/inputs/create-product.input.ts
  apps/api/src/modules/products/models/product.model.ts
  apps/api/src/modules/users/users.resolver.ts
  configs/nestjs/eslint/index.js
Due: prettier --write, eslint --fix

Enable lint-staged
  .husky/pre-commit
  apps/api/docs/auth/README.md
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier-package-json --write

Update db module
  apps/api/docs/auth/README.md
  apps/api/src/core/persistence/prisma/prisma-exception.filter.ts
  apps/api/src/core/persistence/prisma/prisma.extensions.ts
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/api/src/core/schedulers/bullmq/producer/bullmq-config.service.ts
  apps/api/src/main.ts
  apps/api/src/modules/common/base.types.ts
  apps/api/src/modules/products/products.repository.ts
  packages/mocks/src/users.ts
Due: prettier --write, eslint --fix

Update db config
  apps/api/docker-compose.db.yml
  apps/api/prisma/migrations/20240224190130_sent_at/migration.sql
  apps/api/prisma/migrations/20240225200641_add_token/migration.sql
  apps/api/prisma/migrations/20240228105744_initial/migration.sql
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/api/src/core/persistence/prisma/timeout-error.util.ts
  apps/api/src/main.ts
  apps/api/test/e2e/auth/register.e2e-spec.ts
  apps/api/test/e2e/helpers/prisma-test.service.ts
Due: prettier --write, eslint --fix

Update tests
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/api/test/e2e/auth/register.e2e-spec.ts
  apps/api/test/e2e/helpers/other/graphql.config.ts
  apps/api/test/e2e/helpers/other/prisma-test.utils.ts
  apps/api/test/e2e/helpers/queries.ts
Due: prettier --write, eslint --fix

Refactor tests
  apps/api/package.json
  apps/api/src/core/persistence/prisma/prisma-client-manager.ts
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/api/src/core/persistence/prisma/request-context.module.ts
  apps/api/test/e2e/auth/activate.e2e-spec.ts
  apps/api/test/e2e/auth/refresh-activation-code.e2e-spec.ts
  apps/api/test/e2e/helpers/initialize-app.ts
  apps/api/test/e2e/helpers/prisma-test.service.ts
  apps/api/test/e2e/helpers/utils.ts
  apps/api/test/e2e/user/auth.e2e-spec.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Disable some modules
  apps/api/.vscode/launch.json
  apps/api/src/app.module.ts
  apps/api/src/app.resolver.ts
  apps/api/src/core/persistence/persistence.module.ts
  apps/api/src/core/persistence/prisma/prisma.service.ts
  apps/api/src/main.ts
Due: prettier --write, eslint --fix

Refactor tests
  apps/api/seeds/main.ts
  apps/api/src/core/schedulers/bullmq/producer/bullmq-producer.service.ts
  apps/api/test/e2e/auth/activate.e2e-spec.ts
  apps/api/test/e2e/auth/current-user.e2e-spec.ts
  apps/api/test/e2e/auth/login.e2e-spec.ts
  apps/api/test/e2e/auth/refresh-activation-code.e2e-spec.ts
  apps/api/test/e2e/auth/refresh-tokens.e2e-spec.ts
  apps/api/test/e2e/auth/register.e2e-spec.ts
  apps/api/test/e2e/helpers/bullmq-test-producer.service.ts
  apps/api/test/e2e/helpers/constants.ts
  apps/api/test/e2e/helpers/initialize-app.ts
  apps/api/test/e2e/helpers/other/prisma-test.utils.ts
  apps/api/test/e2e/helpers/queries.ts
  apps/api/test/e2e/helpers/test-modules/persistence-test.module.ts
  apps/api/test/e2e/helpers/test-modules/prisma-test-utils.service.ts
  apps/api/test/e2e/helpers/test-modules/prisma-test.service.ts
  apps/api/test/e2e/helpers/test-modules/schedulers-test.module.ts
  apps/api/test/e2e/helpers/utils.ts
  apps/api/test/globals.js
Due: prettier --write, eslint --fix

Update e2e tests
  apps/api/test/e2e/auth/activate.e2e-spec.ts
  apps/api/test/e2e/auth/current-user.e2e-spec.ts
  apps/api/test/e2e/auth/login.e2e-spec.ts
  apps/api/test/e2e/auth/refresh-activation-code.e2e-spec.ts
  apps/api/test/e2e/auth/refresh-tokens.e2e-spec.ts
  apps/api/test/e2e/helpers/initialize-app.ts
  apps/api/test/e2e/helpers/test-modules/prisma-test-utils.service.ts
Due: prettier --write, eslint --fix

Refactor jwt strategies
  apps/api/config/default.ts
  apps/api/src/core/config/app-config.ts
  apps/api/src/core/config/types.ts
  apps/api/src/core/persistence/prisma/prisma-exception.filter.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/guards/jwt-reset-pass.guard.ts
  apps/api/src/modules/auth/strategies/jwt/jwt-access.strategy.ts
  apps/api/src/modules/auth/strategies/jwt/jwt-activate.strategy.ts
  apps/api/src/modules/auth/strategies/jwt/jwt-reset-pass.strategy.ts
  apps/api/src/modules/auth/types.ts
Due: prettier --write, eslint --fix

Add forgot password
  apps/api/config/default.ts
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/core/config/app-config.ts
  apps/api/src/core/config/types.ts
  apps/api/src/modules/auth/activation-codes/activation-codes.resolver.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/dto/inputs/forgot-password.input.ts
  apps/api/src/modules/auth/dto/inputs/index.ts
  apps/api/src/modules/auth/dto/inputs/login-user.input.ts
  apps/api/src/modules/auth/dto/inputs/register-user.input.ts
  apps/api/src/modules/auth/dto/inputs/reset-password.input.ts
  apps/api/src/modules/common/base.repository.ts
  apps/api/src/modules/customers/customers.repository.ts
  apps/api/src/modules/customers/dto/inputs/index.ts
  apps/api/src/modules/mail/mail.service.ts
  apps/api/src/modules/mail/mail.types.ts
  apps/api/src/modules/mail/templates/reset-password-request.hbs
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.resolver.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/test/e2e/auth/activate.e2e-spec.ts
  apps/api/test/e2e/auth/forgot-password.e2e-spec.ts
  apps/api/test/e2e/auth/login.e2e-spec.ts
  apps/api/test/e2e/helpers/queries.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Add resetToken
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/guards/index.ts
  apps/api/src/modules/mail/mail-config.service.ts
  apps/api/src/modules/mail/mail.module.ts
  apps/api/src/modules/mail/mail.service.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/test/e2e/auth/activate.e2e-spec.ts
  apps/api/test/e2e/auth/current-user.e2e-spec.ts
  apps/api/test/e2e/auth/forgot-password.e2e-spec.ts
  apps/api/test/e2e/auth/login.e2e-spec.ts
  apps/api/test/e2e/auth/refresh-activation-code.e2e-spec.ts
  apps/api/test/e2e/auth/refresh-tokens.e2e-spec.ts
  apps/api/test/e2e/auth/register.e2e-spec.ts
  apps/api/test/e2e/auth/reset-password.e2e-spec.ts
Due: prettier --write, eslint --fix

Update e2e tests
  apps/api/src/core/constants/errors.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/strategies/index.ts
  apps/api/src/modules/common/base.repository.ts
  apps/api/src/modules/common/base.types.ts
  apps/api/src/modules/mail/mail-config.service.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/test/e2e/auth/reset-password.e2e-spec.ts
Due: prettier --write, eslint --fix

Update products and users repos
  apps/api/src/modules/products/products.repository.ts
  apps/api/src/modules/users/users.repository.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Add .env to ignore
  apps/api/.gitignore
Due: none

Refactor mailing
  apps/api/src/core/config/app-config.ts
  apps/api/src/core/config/types.ts
  apps/api/src/modules/mail/helpers.ts
  apps/api/src/modules/mail/mail-config.service.ts
  apps/api/src/modules/mail/mail.service.ts
Due: prettier --write, eslint --fix

Update auth module
  apps/api/config/dev.ts
  apps/api/config/prod.ts
  apps/api/src/app.module.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/strategies/jwt/jwt-activate.strategy.ts
  apps/api/src/modules/auth/strategies/jwt/jwt-refresh.strategy.ts
  apps/api/src/modules/mail/mail-config.service.ts
  apps/api/src/modules/mail/mail.service.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/test/e2e/auth/activate.e2e-spec.ts
  apps/api/test/e2e/helpers/queries.ts
Due: prettier --write, eslint --fix

Update auth
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/mail/mail.types.ts
  apps/api/src/modules/users/users.service.ts
Due: prettier --write, eslint --fix

Remove tokens
  apps/api/package.json
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/tokens/dto/inputs/create-token.input.ts
  apps/api/src/modules/auth/tokens/dto/inputs/find-tokens.args.ts
  apps/api/src/modules/auth/tokens/dto/inputs/update-token.input.ts
  apps/api/src/modules/auth/tokens/models/token.model.ts
  apps/api/src/modules/auth/tokens/tokens.module.ts
  apps/api/src/modules/auth/tokens/tokens.repository.ts
  apps/api/src/modules/auth/tokens/tokens.resolver.spec.ts
  apps/api/src/modules/auth/tokens/tokens.resolver.ts
  apps/api/src/modules/auth/tokens/tokens.service.spec.ts
  apps/api/src/modules/auth/tokens/tokens.service.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Update deps
  apps/api/package.json
  apps/api/src/modules/mail/mail.service.ts
  apps/api/src/modules/orders/orders.repository.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs}) or (any of: *.{md,html,css})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs}
  prettier-package-json --write: any of: package.json
