Repository stasgm/menu-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,cjs}": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.{md,html,css}": [
    "prettier --write"
  ],
  "package.json": [
    "prettier-package-json --write"
  ]
}

Update deps
  apps/api/package.json
  apps/api/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier-package-json --write

Update linter config
  .husky/pre-commit
  apps/api/.eslintrc.js
Due: prettier --write, eslint --fix

Remove node-linker param
  .npmrc
Due: none

Update config
  apps/api/.eslintrc.js
  apps/api/src/modules/orders/orders.repository.ts
  apps/web/.prettierrc.js
  apps/web/src/components/container.tsx
  apps/web/src/components/menu-line.tsx
  apps/web/src/components/nav.tsx
  apps/web/src/components/user-info-form.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/store/zustand/index.ts
  apps/web/src/store/zustand/menu/index.ts
  apps/web/src/store/zustand/order/index.ts
  configs/nestjs/eslint/index.js
  configs/nestjs/prettier/index.js
  configs/nextjs/eslint/index.js
  packages/utils/package.json
  packages/utils/src/helpers.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Remove dependency
  configs/nextjs/eslint/package.json
Due: prettier-package-json --write

Update build libs script
  package.json
Due: prettier-package-json --write

Add graphql schemas
  apps/web-admin/src/graphql/queries/get-categories.graphql
  apps/web-admin/src/graphql/queries/get-menus.graphql
  apps/web-admin/src/graphql/queries/get-users.graphql
Due: none

Add example for products
  apps/web-admin/package.json
  apps/web-admin/src/pages/products/index.tsx
  apps/web-admin/src/store/zustand/products/index.ts
  apps/web/src/store/zustand/menu/index.ts
  pnpm-lock.yaml
  readme.md
Due: prettier --write, eslint --fix, prettier-package-json --write

Update readme
  readme.md
Due: prettier --write

Update linter
  .husky/pre-commit
  apps/api/package.json
  apps/web-admin/package.json
  apps/web/package.json
  configs/nestjs/eslint/index.js
Due: prettier --write, eslint --fix, prettier-package-json --write

Update store
  apps/web-admin/src/graphql/products.ts
  apps/web-admin/src/pages/products/index.tsx
  apps/web-admin/src/store/zustand/index.ts
  apps/web-admin/src/store/zustand/orders/index.ts
  apps/web-admin/src/store/zustand/products/index.ts
Due: prettier --write, eslint --fix

Use mocks for web-admin
  apps/web-admin/package.json
  apps/web-admin/src/store/zustand/products/index.ts
  configs/nextjs/eslint/index.js
  packages/mocks/src/products.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Update orders slice of the store
  apps/web-admin/src/graphql/orders.ts
  apps/web-admin/src/store/zustand/orders/index.ts
Due: prettier --write, eslint --fix

Update admin
  apps/web-admin/public/favicon-24.png
  apps/web-admin/public/favicon-32.png
  apps/web-admin/public/next.svg
  apps/web-admin/public/vercel.svg
  apps/web-admin/src/components/nav.tsx
  configs/nestjs/eslint/index.js
Due: prettier --write, eslint --fix

Update libs
  apps/api/package.json
  apps/web-admin/package.json
  apps/web-admin/src/components/layout.tsx
  apps/web-admin/src/components/navbar.tsx
  apps/web-admin/src/pages/products/index.tsx
  apps/web-admin/src/store/zustand/products/index.ts
  apps/web/package.json
  configs/nestjs/eslint/package.json
  configs/nextjs/eslint/package.json
  package.json
  pnpm-lock.yaml
  readme.md
  turbo.json
Due: prettier --write, eslint --fix, prettier-package-json --write

Update products
  apps/web-admin/package.json
  apps/web-admin/src/components/container.tsx
  apps/web-admin/src/components/layout.tsx
  apps/web-admin/src/components/navbar.tsx
  apps/web-admin/src/pages/products/index.tsx
  apps/web-admin/src/pages/products/product-table.tsx
  apps/web-admin/src/store/zustand/index.ts
  packages/domains/src/product.ts
  packages/mocks/src/products.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Update components
  apps/web-admin/src/components/navbar.tsx
  apps/web-admin/src/pages/products/[id]/edit.tsx
  apps/web-admin/src/pages/products/[id]/index.tsx
  apps/web-admin/src/pages/products/index.tsx
  apps/web-admin/src/pages/products/new.tsx
  apps/web-admin/src/pages/products/product-table.tsx
  apps/web-admin/src/todos/page.tsx
Due: prettier --write, eslint --fix

Disable git hook
  .husky/pre-commit
Due: none

Add .env
  apps/web-admin/.env.example
Due: none

chore: products
  apps/web-admin/app/globals.css
  apps/web-admin/app/layout.tsx
  apps/web-admin/app/page.tsx
  apps/web-admin/app/products/[id]/page.tsx
  apps/web-admin/app/products/new/page.tsx
  apps/web-admin/app/products/page.tsx
  apps/web-admin/app/store/products-store.ts
  apps/web-admin/components/circular-loader.tsx
  apps/web-admin/components/nav-bar.tsx
  apps/web-admin/components/styled-grid.tsx
  apps/web-admin/next.config.js
  apps/web-admin/package.json
  apps/web-admin/public/icons/delete.tsx
  apps/web-admin/public/icons/edit.tsx
  apps/web-admin/public/icons/icon-button.tsx
  apps/web-admin/tailwind.config.js
  apps/web-admin/tsconfig.json
  apps/web-admin/types/index.ts
  apps/web-admin/utils/index.ts
  apps/web/tsconfig.json
  packages/domains/src/product.ts
  packages/mocks/src/products.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write, eslint --fix, prettier-package-json --write

Remove unnecessary
  apps/web-admin/app/store/products-store.ts
  apps/web-admin/package.json
  tsconfig.base.json
Due: prettier --write, eslint --fix, prettier-package-json --write

add real ssr
  apps/web-admin/app/categories/page.tsx
  apps/web-admin/app/layout.tsx
  apps/web-admin/app/menu/page.tsx
  apps/web-admin/app/orders/page.tsx
  apps/web-admin/app/page.tsx
  apps/web-admin/app/users/page.tsx
  apps/web-admin/components/button.tsx
  apps/web-admin/components/index.ts
  apps/web-admin/components/styled-grid.tsx
  apps/web-admin/lib/products-store.ts
  apps/web-admin/lib/zustand-provider.ts
  apps/web-admin/next.config.js
  apps/web-admin/pages/_app.tsx
  apps/web-admin/pages/globals.css
  apps/web-admin/pages/index.tsx
  apps/web-admin/pages/layout.tsx
  apps/web-admin/pages/products/[id]/index.tsx
  apps/web-admin/pages/products/index.tsx
  apps/web-admin/pages/products/new/index.tsx
  apps/web-admin/public/no-image.png
  packages/mocks/src/products.ts
Due: prettier --write, eslint --fix

Squashed commit of the following:
  apps/web-admin/app/categories/page.tsx
  apps/web-admin/app/layout.tsx
  apps/web-admin/app/menu/page.tsx
  apps/web-admin/app/orders/page.tsx
  apps/web-admin/app/page.tsx
  apps/web-admin/app/users/page.tsx
  apps/web-admin/components/button.tsx
  apps/web-admin/components/index.ts
  apps/web-admin/components/styled-grid.tsx
  apps/web-admin/lib/products-store.ts
  apps/web-admin/lib/zustand-provider.ts
  apps/web-admin/next.config.js
  apps/web-admin/pages/_app.tsx
  apps/web-admin/pages/globals.css
  apps/web-admin/pages/index.tsx
  apps/web-admin/pages/layout.tsx
  apps/web-admin/pages/products/[id]/index.tsx
  apps/web-admin/pages/products/index.tsx
  apps/web-admin/pages/products/new/index.tsx
  apps/web-admin/public/no-image.png
  packages/mocks/src/products.ts
Due: prettier --write, eslint --fix

Add .next to exclude
  apps/web-admin/tsconfig.json
Due: none

animated refresh icon
  apps/web-admin/pages/products/index.tsx
  apps/web-admin/public/icons/refresh.tsx
Due: prettier --write, eslint --fix

Update eslint config (web-admin)
  configs/nextjs/eslint/index.js
Due: prettier --write, eslint --fix

Update component
  apps/web-admin/components/styled-grid.tsx
Due: prettier --write, eslint --fix

Update script in web-admin
  apps/web-admin/package.json
Due: prettier-package-json --write

Add devtools (web-admin)
  apps/web-admin/lib/products-store.ts
Due: prettier --write, eslint --fix

Update refresh.tsx
  apps/web-admin/public/icons/refresh.tsx
Due: prettier --write, eslint --fix

Update logo.svg
  apps/web-admin/public/logo.svg
Due: none

Update index.tsx
  apps/web-admin/pages/products/[id]/index.tsx
Due: prettier --write, eslint --fix

Update tsconfig.json
  apps/web-admin/tsconfig.json
Due: none

Update config
  apps/web-app-auth/src/app/components/Container.tsx
  apps/web-app-auth/src/app/components/Project.tsx
  apps/web-app-auth/src/app/types.d.ts
  apps/web-app-auth/tsconfig.json
Due: prettier --write, eslint --fix

Update files (web-app-auth)
  apps/web-app-auth/package.json
  apps/web-app-auth/src/app/components/Container.tsx
  apps/web-app-auth/src/app/components/InputField.tsx
  apps/web-app-auth/src/app/components/NavBar.tsx
  apps/web-app-auth/src/app/components/Project.tsx
  apps/web-app-auth/src/app/layout.tsx
  apps/web-app-auth/src/app/login/LoginUser.tsx
  apps/web-app-auth/src/app/login/page.tsx
  apps/web-app-auth/src/app/page.tsx
  apps/web-app-auth/src/app/posts/page.tsx
  apps/web-app-auth/src/app/register/RegisterUser.tsx
  apps/web-app-auth/src/app/register/page.tsx
  apps/web-app-auth/src/app/types.d.ts
  apps/web-app-auth/src/lib/apolloProvider.tsx
  apps/web-app-auth/src/lib/getAllPosts.ts
  apps/web-app-auth/src/lib/getPostByUuid.ts
  apps/web-app-auth/src/lib/gql/fragment-masking.ts
  apps/web-app-auth/src/lib/toErrorMap.ts
  configs/nextjs/eslint/index.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier-package-json --write

Remove docker postgres autostart
  apps/api/docker-compose.db.yml
  apps/api/docker-compose.migrate.yml
Due: none
